#mapid 
{ 
	height: 100em; 
}

#minus
{
	position: fixed;
	bottom: 0px;
	right: 0px;	
}

#plus
{
	position: fixed;
	bottom: 20px;
	right: 0px;	
}

.div {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

