@import url('https://fonts.googleapis.com/css?family=Lato');
/* styling elements, such as color */
/* HSU COLOR SCHEMA:
	#25551B, #0C4301, #5C8021, #87A625, #B65300, #984907, #933621, #5e2417*/

body{
	font-family: 'Lato', sans-serif; 
}

header{
	background-color: #25551B;
}

button{
	border: none;
	text-decoration: bold;
	background-color: black;
	color: white;
	transition: background-color .5s, color .5s, top .35s;
}

#sub_layout{
	border: none;
	text-decoration: bold;
	background-color: black;
	color: white;
	transition: background-color .5s, color .5s, top .35s;
}

button:hover{
	background-color: #87A625;
	color: black;
}

button:active{
	box-shadow: inset 0 0 10px #000000;
}

.hide_nav{
	font-size: 2em;
	border-radius: 50%;
}

h1, h3{
	color: white;
}

nav{
	background-color: #0C4301;
	
}

nav > p{
	border-bottom: 5px solid #0C4301;
	transition: background-color 1s;
}

.selected{
	background-color: #25551B;
	border-bottom: 5px solid #87A625;
}


nav > p:hover{
	background-color: #25551B;
	border-bottom: 5px solid #87A625;
}

nav > p > a{
	color: white;
	text-decoration: none;

}

main{
	background-color: white;
}

main.login_main{
	background-color: #5C8021;
}

form.layout-selector{
	background-color:  #933621;
}

fieldset{
	border: none;
	background-color: #87A625;
}

form.layout-selector > fieldset{
	background-color: transparent;
}

legend{
	background-color: #933621;
}

footer{
	background-color: #B65300;
}

footer > p{

	font-weight: bold;
}

.nav_button{
	border-radius: 20%;
	border: 3px solid #25551b;
	background-color: #efe988;
	color: #25551b;
	font-size: 25px;
	cursor: pointer;
	font-weight: bolder;
	font-family: 'Lato', sans-serif;
}

.nav_button button{
	width: 100%;
}