
body{
	margin: 0;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
}

.logo{
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 1em;
}

header > h1{
	text-align: center;
	width: 100%;
}

h2{
	margin-left: 5em;
}

p{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.invalid-login{
	margin: 1em;
	font-size: 2em;
	text-align: center;
	width: 50%;
	margin: auto;
}

.log-state{
	position: absolute;
	top: 0;
	left: 0;
	font-size: .75em;
	padding-left: .5em;
}

nav > p{
	display: inline-block;
	margin: 0;
	padding: 1em;

}

main{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 140px;
}

fieldset{
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-top: 10px;
}

.login > fieldset{
    width: 25%;
    margin: auto;
    margin-top: 140px;
}

legend{
	margin: 0;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}


input{
	display: block;
	margin-top: .25em;
	margin-bottom: 1em;
	height: 20px;
}

select{
	height: 25px;
}

.load-submit{
	display: inline;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer > p{
	text-align: center;
}