
body{
	margin: 0;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 196px;
	z-index: 99;
	transition: top .35s;
	transition-timing-function: ease-out;
}

.logo{
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 1em;
}

header > h1{
	text-align: center;
	width: 100%;
}

h2{
	margin-left: 5em;
}

p{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.invalid-login{
	margin: 1em;
	font-size: 2em;
	text-align: center;
	width: 50%;
	margin: auto;
}

.log-state{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: .75em;
	padding-left: .5em;
}

.submit_survey{
	position: absolute;
	top: 24px;
	right: 88px;
	height: 40px;
	width: 100px;
	z-index: 100;
}

.hide_nav{
	position: absolute;
	top: 24px;
	right: 24px;
	width: 40px;
	height: 40px;
	z-index: 100;
}

#sub_layout{
	height: 25px;
	margin-left: .25em;
	display: inline;
}


.nav_open{
	top: 220px;
}

nav{
	z-index: 99;
	position: absolute;
	top: 140px;
	right: 0;
	left: 0;
	transition: top .25s;
	transition-timing-function: ease-out;
}

nav > p{
	display: inline-block;
	margin: 0;
	padding: 1em;

}

.hidden{
	top: -300px;
}

main{
	position: absolute;
	top: 196px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: top .25s;
	transition-timing-function: ease-in-out;
}

.to-top{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

fieldset{
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-top: 10px;
}

.login > fieldset{
    width: 25%;
    margin: auto;
    margin-top: 140px;
}

legend{
	margin: 0;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

input{
	display: block;
	height: 20px;
}

input[type=text]{
	margin-bottom: 1em;
	margin-top: .25em;
}

select{
	height: 25px;
}

.load-submit{
	display: inline;
}

#mapid{
	display: block;
	width: 100%;
	height: 95%;
	z-index: 99;
}

footer{
	z-index: 109;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	transition: top .5s;
}

.insert{
	margin-left: 1em;
	text-decoration: bold;
	padding: .25em;
}

.footd{
	position: absolute;
	width: 100%;
	height: 5%;
	transition: width .25s;
}

.foot_hide{
	width: 0;
	overflow: hidden;
}

footer > p{
	margin-top: .25em;
	text-align: center;

}

#iframe
{
	border: none;
	width: 45em;
	height: 40em;
}

#mapid 
{ 
	height: 100em; 
}

