@import url('https://fonts.googleapis.com/css?family=Lato');
/*Style the popup from clicking a furniture */
#popupTest
{
    overflow-y: scroll;
    width:45em; 
    height:40em;
}

#occupantInput
{
    width: 1.5em;
    height: 2em;
    font-size: 5em;
    margin-left: 45px;
}

#deleteButton
{
	position: fixed;
	right: 1em;
	top: 2em;
}


#rotate
{
	display: none;
	top: 15px;
    right: 88px;
    border-radius: 30%;
    position: fixed;
    background-color: #87A825;
    border: none;
    color: white;
    padding: 10px;
    padding-top: 16.25px;
    padding-bottom: 16.25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

#rotateSlider
{
	position: fixed;
	top: 80px;
	right: 56px;
}

#sliderValue
{
	position: fixed;
	top: 85px;
	right: 100px;
	font-family: 'Lato', sans-serif;
}

#lock
{
	display: none;
	top: 15px;
    right: 9.8px;
    border-radius: 30%;
    position: fixed;
    background-color: #87A825;
    border: none;
    color: white;
    padding: 10px;
    padding-top: 16.25px;
    padding-bottom: 16.25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

#save
{
	top: 40.5%;
	right: 100px;
	border-radius: 30%;
	border: 3px solid #25551b;
	position: fixed;
	background-color: #efe988;
	color: #25551b;
	padding: 20px;
	padding-top: 55.925px;
	padding-bottom: 55.925px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bolder;
	font-family: 'Lato', sans-serif;
}

#checkall
{
	top: 25.5%;
	right: 138px;
    border-radius: 35%;
    position: fixed;
    background-color: #87A825;
    border: none;
    color: white;
    padding: 10px;
   	width: 65px;
   	height: 65px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

#seat_operator
{
	bottom: 65px;
    right: 10px;
    color: black;
	position: fixed;
	font-size: 15px;
	font-weight: bolder;
 	font-family: 'Lato', sans-serif;
}

#minus
{
    bottom: 5px;
    right: 20px;
    border-radius: 100%;
    position: fixed;
    background-color: #87A825;
    border: none;
    color: white;
    padding-right: 20.6666666px;
    padding-left: 20.6666666px;
    padding-top: 9.75px;
    padding-bottom: 9.75px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

#plus
{
    bottom: 65px;
    right: 20px;
    border-radius: 100%;
    position: fixed;
    background-color: #87A825;
    border: none;
    color: white;
    padding-right: 19.2px;
    padding-left: 19.2px;
    padding-top: 12.75px;
    padding-bottom: 12.75px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bolder;
    font-family: 'Lato', sans-serif;
}

.div
{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.action_label
{
	vertical-align: middle;
    padding: 8px;
    margin: 8px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.dropbutton, .wb
{
	vertical-align: middle;
    background-color: #5C8021;
    border-radius: 10px;
    border: none;
    position: relative; 
    width: 175px;
    height: 60px;
    padding: 10px;
    margin: 8px;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.dropbutton:after, .wb:after
{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000;   
}

.dropbutton.active:after, .wb.active:after
{
    position: absolute;
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.inuse_input, .action_input{
    display: initial;
    -webkit-transform: scale(2.5);
    margin: 9px;
    border-radius: 0%;
    vertical-align: middle;
}
