
body{
	margin: 0;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 196px;
	z-index: 99;
}

.logo{
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 1em;
}

header > h1{
	text-align: center;
	width: 100%;
}

h2{
	margin-left: 5em;
}

p{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.invalid-login{
	margin: 1em;
	font-size: 2em;
	text-align: center;
	width: 50%;
	margin: auto;
}

.log-state{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-size: .75em;
	padding-left: .5em;
}

.hide_nav{
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 100;
}

.nav_open{
	top: 220px;
}

nav{
	z-index: 99;
	position: absolute;
	top: 140px;
	right: 0;
	left: 0;
}

nav > p{
	display: inline-block;
	margin: 0;
	padding: 1em;

}

.hidden{
	top: -300px;
}



main{
	position: absolute;
	top: 196px;
	left: 0;
	right: 0;
	bottom: 0;
}

.to-top{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

fieldset{
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	padding-top: 10px;
}

.login > fieldset{
    width: 25%;
    margin: auto;
    margin-top: 140px;
}

legend{
	margin: 0;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}


input{
	display: block;
	margin-top: .25em;
	margin-bottom: 1em;
	height: 20px;
}

select{
	height: 25px;
}

.load-submit{
	display: inline;
}

.furnitureIcon{
	width: '138px';
	height: '160px';
}

#mapid{
	display: block;
	width: 100%;
	height: 95%;
}

footer{
	z-index: 109;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
}

.insert{
	margin-left: 1em;
	text-decoration: bold;
	padding: .25em;
}

.footd{
	position: absolute;
	width: 100%;
	height: 5%;
}

footer > p{
	margin-top: .25em;
	text-align: center;
}
